Repository synjan/qa-demo-1, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, tests, documentation, configuration, dependencies, types, performance, security

.github/labeler.yml:

# Configuration for PR labeler action
# https://github.com/actions/labeler

# Frontend changes
frontend:
  - src/components/**
  - src/app/**/*.tsx
  - src/app/**/*.css
  - '**/*.css'
  - '**/*.scss'

# Backend/API changes
backend:
  - src/app/api/**
  - src/lib/**
  - '!src/lib/utils.ts'

# Test changes
tests:
  - '**/*.test.ts'
  - '**/*.test.tsx'
  - '**/*.spec.ts'
  - e2e-tests/**
  - k6-tests/**
  - src/test-utils/**

# Documentation
documentation:
  - '**/*.md'
  - docs/**
  - LICENSE

# Configuration changes
configuration:
  - '*.json'
  - '*.js'
  - '*.config.*'
  - .github/**
  - .env*

# Dependencies
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock

# Type definitions
types:
  - src/lib/types.ts
  - '**/*.d.ts'

# Performance related
performance:
  - k6-tests/**
  - '**/*performance*'
  - '**/*perf*'

# Security related
security:
  - src/lib/auth.ts
  - src/app/api/auth/**
  - '**/*security*'
  - '**/*auth*'

Add comprehensive documentation for Claude integration and testing
  docs/CLAUDE_INTEGRATION.md
  docs/TESTING_GUIDE.md
Labels: backend, documentation

Clean up repository and update .gitignore
  .gitignore
  dev.log
  logs/guest-activity.log
  logs/test-executions.log
  pacts/QA Test Manager Frontend-QA Test Manager API.json
  pacts/QA Test Manager-GitHub API.json
  test-executions/execution-07b90b17-368f-4072-91e7-9c202bb1ea52-2025-07-23T11-15-37-058Z.json
  test-executions/execution-f09cdf50-f0ac-47d6-93b2-443d3c2bd1d9-2025-07-20T21-30-18-736Z.json
Labels: backend

Revert security implementations and fix UI theming
  README.md
  THEME.md
  next.config.ts
  package-lock.json
  src/app/api/dashboard/stats/route.ts
  src/app/api/testcases/generate/route.ts
  src/app/api/testcases/route.ts
  src/app/globals.css
  src/app/page.tsx
  src/app/testcases/new/page.tsx
  src/app/testplans/[id]/run/page.tsx
  src/app/testplans/new/page.tsx
  src/app/theme.css
  src/components/dashboard/QuickActionsWidget.tsx
  src/components/dashboard/RecentActivityWidget.tsx
  src/components/dashboard/StatsWidget.tsx
  src/components/dashboard/TestCaseBadges.tsx
  src/components/ui/card.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/select.tsx
  src/components/ui/textarea.tsx
  src/lib/stats-service.ts
  src/lib/stats-types.ts
  tailwind.config.js
Labels: frontend, backend, documentation, configuration, dependencies

Remove all GitHub workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: backend, configuration

Add missing imports and create comprehensive tests
  src/app/testcases/[id]/page.tsx
  src/app/testcases/page.tsx
  src/components/ui/__tests__/error-boundary.test.tsx
  src/hooks/use-ai-streaming.ts
  src/lib/__tests__/logger.test.ts
  src/lib/__tests__/sanitize.test.ts
  src/lib/openai.ts
Labels: frontend, backend, tests

Add essential security and stability components after merge
  src/app/layout.tsx
  src/components/ui/error-boundary.tsx
  src/lib/logger.ts
  src/lib/sanitize.ts
Labels: frontend, backend
